body {
    background: white;
}

.merchantbusinesspagesetaddresssectioncomponent {
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 57px;
    margin-bottom: 57px;
    background: white;

}

.merchantbusinesspagesetaddresssectioncomponent .aboutsection {
    border: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.merchantbusinesspagesetaddresssectioncomponent .aboutsection .aboutimage {
    border: none;
    background: transparent;
}


.merchantbusinesspagesetaddresssectioncomponent .aboutsection .aboutimage img {
    width: 574.533px;
    height: 250px;
    display: block;
    margin-left: 0;
    margin-right: 0;
    border-radius: 8px;
}

.merchantbusinesspagesetaddresssectioncomponent .aboutsection .abouttext {
    display: grid;
    align-content: end;
    padding-bottom: 11px;
}


.merchantbusinesspagesetaddresssectioncomponent .aboutsection .abouttext h1 {
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.merchantbusinesspagesetaddresssectioncomponent .aboutsection .abouttext p {
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: ;
    margin: 0;
    padding: 0;
    color: #6B7280
}

.merchantbusinesspagesetaddresssectioncomponent .items {
    margin-top: 40px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.merchantbusinesspagesetaddresssectioncomponent .items p {
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.merchantbusinesspagesetaddresssectioncomponent .items .itemelements {
    border: none;
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px 24px;
}

.merchantbusinesspagesetaddresssectioncomponent .items .itemelements .itemelement {
    border: solid 1px #f3f3f3;
    cursor: pointer;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
}

.merchantbusinesspagesetaddresssectioncomponent .items .itemelements .itemelement .leftside {
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    width: 400.333px;
}

.merchantbusinesspagesetaddresssectioncomponent .items .itemelements .itemelement .leftside .leftsidetext {
    display: flex;
    flex-direction: row;
    gap: 0px 8px;
}

.merchantbusinesspagesetaddresssectioncomponent .items .itemelements .itemelement .leftside .leftsidetext p {
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 20px;
    color: black;
}

.merchantbusinesspagesetaddresssectioncomponent .items .itemelements .itemelement .leftside p {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    color: #5E5E5E;
}

.merchantbusinesspagesetaddresssectioncomponent .items .itemelements .itemelement .rightside {
    cursor: pointer;
}

.merchantbusinesspagesetaddresssectioncomponent .items .itemelements .itemelement .rightside img {
    width: 90px;
    height: 145px;
    cursor: pointer;
    border-radius: 8px;
    object-fit: contain;

}

.merchantbusinesspagesetaddresssectioncomponent .checkoutbox {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 20px;
}

.merchantbusinesspagesetaddresssectioncomponent .checkoutbox .endbox {
    width: 428px;
    border: solid #f3f3f3;
    opacity: 0.5;
    margin-left: 794px;
}

.merchantbusinesspagesetaddresssectioncomponent .checkoutbox .endbox .checkoutbutton {
    border-bottom: solid #f3f3f3;
    /*border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;*/
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.merchantbusinesspagesetaddresssectioncomponent .checkoutbox .endbox .checkoutbutton button {
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: ;
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 8px;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);

}

.merchantbusinesspagesetaddresssectioncomponent .checkoutbox .endbox .checkoutbutton button:hover {
    cursor: pointer;
    background-color: #282828;
}

.merchantbusinesspagesetaddresssectioncomponent .checkoutbox .endbox p {
    margin: 0;
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 16px;
    line-height: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}


.checkoutbox .cartlist {
    width: 428px;
    border: solid #f3f3f3;
    /*opacity: 0.5;*/
    padding-left: 9px;
    padding-right: 9px;
    border-top: none;
    margin-left: 794px;
}


.checkoutbox .cartlist .cart_item {
    border: white solid;
    border-width: 1px;
    display: flex;
    /*border-radius: 7px 7px 7px 7px;*/
    background-color: white;
    padding-top: 8px;
    font-family: Arial,
        Helvetica,
        sans-serif;
    border-bottom: #f3f3f3 solid 1px;
    height: 62px;
}

.checkoutbox .cartlist .cart_item .box_left {
    border: ;
    width: 50%;
    height: 45.6667px;
    display: flex;
    justify-content: ;
    margin-left: 0px;
    margin-top: 7px;

}


.checkoutbox .cartlist .cart_item .box_left .checkbox {
    /* Remove default styles */
    -webkit-appearance: none;
    appearance: none;
    border: ;
    width: 25px;
    height: 24px;
    margin-top: 10px;
    border-width: ;
    border-radius: 4px;
    background-color: white;
    /* White background */
    border: 2px solid black;
    /* Black border */
    cursor: pointer;

}

.checkoutbox .cartlist .cart_item .box_left .checkbox:checked {
    background-color: white;
    /* White background when checked */
    border: 2px solid black;
    /* Black border */
    position: relative;
}

.checkoutbox .cartlist .cart_item .box_left .checkbox::after {
    content: "✔";
    /* Black tick symbol */
    color: black;
    /* Black color for the tick */
    font-size: 16px;
    position: absolute;
    top: -3px;
    left: 2px;
}





.checkoutbox .cartlist .cart_item .box_left p {
    border: ;
    width: 70%;
    height: 20.66666px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1px;
    font-family: "Gill Sans", sans-serif;
    margin-left: 7px;
    margin-top: 13px;
}

.checkoutbox .cartlist .cart_item .box_right {
    border: ;
    height: ;
    width: 496.75px;
    display: flex;
    justify-content: end;
    width: 496.75px;
    /*margin-right: 7px;*/
    margin-left: 0px;

}

.checkoutbox .cartlist .cart_item .box_right .task {
    border: 2px none;
    width: 9%;
    height: 25.667px;
    font-size: 78%;
    font-weight: 50;

    font-family: system-ui;
    font-family: "Gill Sans", sans-serif;
    margin-left: 7px;
    margin-top: 19px;
    text-align: center;
    /*border-radius: 7px 7px 7px 7px;
    background-color: #eceaea;*/
    padding-top: 6px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 6px;
    display: grid;
    align-content: center;
}

.checkoutbox .cartlist .cart_item .box_right .task.time {
    width: 30%;
    height: 24.667px;

}

.checkoutbox .cartlist .cart_item .box_right .task.date {
    letter-spacing: 1px;
    width: 13%;
}