.deliverysubmitformpageverc {
    border: solid 1px #E2E2E2;
    font-family: Arial,
        Helvetica,
        sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 395px;
    margin-top: 34px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    width: 620.667px;
    margin-bottom: 34px;
}


.deliverysubmitformpageverc .deliverysubmitformppageheaderverc {
    border: none;
    background-color: black;
    height: ;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}


.deliverysubmitformpageverc .deliverysubmitformppageheaderverc .deliverysubmitformppageheadervercleft {
    border: ;
    display: inline-flex;
    flex-direction: row;
    gap: 0px 14px;

}

.deliverysubmitformpageverc .deliverysubmitformppageheaderverc .deliverysubmitformppageheadervercleft button img {
    border: none;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.deliverysubmitformpageverc .deliverysubmitformppageheaderverc .deliverysubmitformppageheadervercleft button {
    border: none;
    background-color: black;
    cursor: pointer;
    padding: 10px;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    transition-duration: 200ms;
    border-radius: 50%;
}

.deliverysubmitformpageverc .deliverysubmitformppageheaderverc .deliverysubmitformppageheadervercleft button:hover {
    background-color: #333333;
}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc {
    border: none;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding-left: 16px;
    padding-right: 16px;
}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpageverctext {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpageverctext h3 {
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 600;

}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpageverctext p {
    border: ;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    font-weight: normal;
    font-size: 14px;
    color: rgb(50, 49, 49);
}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpageverclist {
    border: none;

}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpageverclist ol {
    margin-top: 0px;
    padding-left: 16px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #6a6a6a;
}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpageverclist ol li {
    height: 22px;
}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpagevercinput {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpagevercinput .deliverysubmitformpagevercinputimage {
    border: none;
    display: inline-flex;
    justify-content: center;
}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpagevercinput .deliverysubmitformpagevercinputimage img {
    border: none;
    width: 329.198px;
    height: 329.198px;
}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpagevercinput .deliverysubmitformpagevercinputbutton {
    border: none;
    background-color: rgb(243, 243, 243);
    display: inline-block;
    border-radius: 8px;
    transition-duration: 200ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 130px;
    width: 299.198px;
    height: 18px;
    text-align: center;
    cursor: pointer;
}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpagevercinput .deliverysubmitformpagevercinputbutton:hover {
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpagevercinput .deliverysubmitformpagevercinputbutton .firstchild {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpagevercinput .deliverysubmitformpagevercinputbutton .firstchild label {
    border: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 0px 5px;
}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpagevercinput .deliverysubmitformpagevercinputbutton .firstchild label span {
    border: none;
    word-spacing: 0px;
}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpagevercinput .deliverysubmitformpagevercinputbutton .firstchild label img {
    border: none;
    width: 18px;
}

.deliverysubmitformpageverc .deliverysubmitformppagebodyverc .deliverysubmitformpagevercinput .deliverysubmitformpagevercinputbutton .firstchild input[type=file] {
    border: ;
    display: none;
}

.deliverysubmitformpageverc .deliverysubmitformppagefooterverc {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: rgb(221, 221, 221);
}

.deliverysubmitformpageverc .deliverysubmitformppagefooterverc button {
    border: solid pink;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 550;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    transition-property: background-color, border-radius;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.deliverysubmitformpageverc .deliverysubmitformppagefooterverc button:hover {
    background-color: #282828;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}