.deliverysignoutcomponent {
    border: ;
    width: 112px;
    height: 41px;
}

.deliverysignoutcomponent a img {
    width: 14px;
    height: 14px;
}

.deliverysignoutcomponent a p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 550;
    margin-top: -2px;
    width: 60px;
    height: 29px;
}

.deliverysignoutcomponent a {
    width: 83px;
    height: 17px;
    display: flex;
    flex-direction: row;
    gap: 0px 8px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 14px;
    padding-left: 14px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: white;
    transition-property: background-color, border-radius;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.deliverysignoutcomponent a:hover {
    background-color: #E2E2E2;
    cursor: pointer;
    border-radius: 30px;
}